* {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  text-shadow: 0.2vh 0.2vh 0.3vh black;
  animation: fadeIn 6s;
}

body * {
  z-index: 1;
}

h1 {
  color: white;
  text-align: center;
  font-size: 5.2vh;
}

#albumcover {
  filter: drop-shadow(0.2vh 0.2vh 0.3vh black);
  visibility: hidden;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 40vh;
  animation: float 6s ease-in-out 0.35s infinite, fadeIn 2s ease-in .5s;
}

#mystery {
  filter: drop-shadow(0.2vh 0.2vh 0.3vh black);
  visibility: hidden;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  height: auto;
  bottom: 0vh;
  animation: float 6s ease-in-out 0.35s infinite, fadeIn 2s ease-in .5s; 
}

#silkenLogo {
  filter: drop-shadow(0.2vh 0.2vh 0.3vh black);
  position: absolute;
  left: 0vh;
  bottom: -1vh;
  animation: float 6s ease-in-out 0.25s infinite;
}

#unLogo {
  filter: drop-shadow(0.2vh 0.2vh 0.3vh black);
  position: absolute;
  right: 0vh;
  bottom: -0vh;
  animation: float 6s ease-in-out 1.1s infinite;
}

#bg {
  position: fixed;
  right: 0vh;
  bottom: 0vh;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.oldhead {
  animation: float 6s ease-in-out 0s infinite, fadeIn 2s ease-in .5s;
}

.newhead {
  visibility: hidden;
  animation: float 6s ease-in-out 0.5s infinite, fadeIn 2s ease-in .5s;
}

.countdown {
  visibility: hidden;
  text-align: center;
  animation: fadeIn 2s ease-in;
  transform: scale(3);
}

.time {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  margin: 0.5vh;
  animation: float 6s ease-in-out 0.5s infinite;
}

.time h2 {
  font-size: 2.5vh;
  position: relative;
  margin: 0%;
  font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
}

.time small {
  font-size: 1vh;
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  #unLogo {
    width: 75px;
    height: 75px;
    bottom: 1vh;
  }
  #silkenLogo {
    width: 75px;
    height: 75px;
    bottom: 1vh;
  }
  #mystery {
    position: relative;
    bottom: 0vh;
    text-align: center;
    width: 200px;
    height: 200px;
  }
  #albumcover {
    position: relative;
    bottom: 5vh;
    width: 200px;
    height: 200px;
  }
  .countdown {
    transform: scale(2.5);
  }
  .time {
    margin: 0.5%;
  }
  .time h2 {
    font-size: 12px;
    margin: 0px;
  }
  .time small {
    font-size: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(-1vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
